---
http_interactions:
- request:
    method: post
    uri: https://development.avalara.net/1.0/tax/get
    body:
      encoding: UTF-8
      string: '{"DocCode":"R598336907","DocDate":"2018-05-27","Discount":"0.0","Commit":false,"DocType":"SalesOrder","Addresses":[{"AddressCode":"Orig","Line1":"9529
        Vernon Court","Line2":"","City":"New York","Region":"New York","PostalCode":"10027","Country":"United
        States"},{"AddressCode":"Dest","Line1":"9529 Vernon Court","Line2":"","City":"New
        York","Region":"New York","Country":"US","PostalCode":"10027"}],"Lines":[{"LineNo":"7-LI","Description":"Product
        #7 - 9574","TaxCode":"PC040000","ItemCode":"SKU-7","Qty":1,"Amount":10.0,"OriginCode":"Orig","DestinationCode":"Dest","CustomerUsageType":null,"Discounted":false,"TaxIncluded":false}],"CustomerCode":7,"CompanyCode":"test_company","CustomerUsageType":null,"ExemptionNo":null,"Client":"a0o33000004FH8l","ReferenceCode":"R598336907","DetailLevel":"Tax","CurrencyCode":"USD"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic dGVzdF9hY2NvdW50OnRlc3RfbGljZW5zZV9rZXk=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
        "ResultCode": "Success",
        "DocCode": "R598336907",
        "DocDate": "2018-05-27",
        "Timestamp": "2018-05-27T14:30:58.6842174Z",
        "TotalAmount": "10",
        "TotalDiscount": "0",
        "TotalExemption": "0",
        "TotalTaxable": "10",
        "TotalTax": "0.89",
        "TotalTaxCalculated": "0.89",
        "TaxLines": [
        {
        "LineNo": "7-LI",
        "TaxCode": "PC040000",
        "Taxability": "true",
        "BoundaryLevel": "Zip5",
        "Exemption": "0",
        "Discount": "0",
        "Taxable": "10",
        "Rate": "0.088750",
        "Tax": "0.89",
        "TaxCalculated": "0.89",
        "TaxDetails": [
        {
        "Country": "US",
        "Region": "NY",
        "JurisType": "State",
        "JurisCode": "36",
        "Taxable": "10",
        "Rate": "0.040000",
        "Tax": "0.4",
        "JurisName": "NEW YORK",
        "TaxName": "NY STATE TAX"}
        ,{
        "Country": "US",
        "Region": "NY",
        "JurisType": "City",
        "JurisCode": "51000",
        "Taxable": "10",
        "Rate": "0.045000",
        "Tax": "0.45",
        "JurisName": "NEW YORK CITY",
        "TaxName": "NY CITY TAX"}
        ,{
        "Country": "US",
        "Region": "NY",
        "JurisType": "Special",
        "JurisCode": "359071",
        "Taxable": "10",
        "Rate": "0.003750",
        "Tax": "0.04",
        "JurisName": "METROPOLITAN COMMUTER TRANSPORTATION DISTRICT",
        "TaxName": "NY SPECIAL TAX"}
        ]
        }
        ]
        ,
        "TaxAddresses": [
        {
        "Address": "9529 Vernon Court",
        "AddressCode": "Dest",
        "City": "New York",
        "Country": "US",
        "PostalCode": "10027",
        "Region": "NY",
        "TaxRegionId": "2088629",
        "JurisCode": "3600051000"}
        ,{
        "Address": "9529 Vernon Court",
        "AddressCode": "Orig",
        "City": "New York",
        "Country": "US",
        "PostalCode": "10027",
        "Region": "NY",
        "TaxRegionId": "2088629",
        "JurisCode": "3600051000"}
        ]
        ,
        "TaxDate": "2018-05-27"}
  recorded_at: Sun, 27 May 2018 14:31:11 GMT
[...]
